In [2]:
%run "connessione_db.ipynb"
query = 'select * from dimproduct'
dimproduct = pd.read_sql(query, db_engine)  
print (dimproduct)

username è uguale a: studente_dapt
     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0             1             AR-5381                    NaN
1             2             BA-8327                    NaN
2             3             BE-2349                    NaN
3             4             BE-2908                    NaN
4             5             BL-2036                    NaN
..          ...                 ...                    ...
601         602             BB-8107                    5.0
602         603             BB-9108                    5.0
603         604          BK-R19B-44                    2.0
604         605          BK-R19B-48                    2.0
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                    None                None        Adjustable Race
1                    None                None           Bearing Ball
2                    None                None        BB Ball Bearing
3                    None                None  Headset Ball Bearings
4                    None                None                  Blade
..                    ...                 ...                    ...
601                     G                None      ML Bottom Bracket
602                     G                None      HL Bottom Bracket
603                    LB                  CM     Road-750 Black, 44
604                    LB                  CM     Road-750 Black, 48
605                    LB                  CM     Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
0                                                                    NaN
1                                                                    NaN
2                                                                    NaN
3                                                                    NaN
4                                                                    NaN
..                         ...                         ...           ...
601         Eje de pedalier GM          Axe de pédalier ML         44.95
602         Eje de pedalier GA          Axe de pédalier HL         53.94
603  Carretera: 750, negra, 44  Vélo de route 750 noir, 44        343.65
604  Carretera: 750, negra, 48  Vélo de route 750 noir, 48        343.65
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
0                    0  ...                               None
1                    0  ...                               None
2                    0  ...                               None
3                    0  ...                               None
4                    0  ...                               None
..                 ...  ...                                ...
601                  1  ...                      铝合金车圈；大直径脚蹬轴。
602                  1  ...                         铝合金车圈和空心轴。
603                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
604                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...
602             فناجين من سبيكة الألومنيوم ومحور أجوف.
603  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
604  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601           כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.
602               כיסויים מסגסוגת אלומיניום וציר חלול.
603  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
604  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601              ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่
602                   ดุมอลูมิเนียมอัลลอยด์และเพลากลวง
603  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
604  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  Außenringe aus Aluminiumlegierung; Radachse mi...
602  Außenringe aus Aluminiumlegierung und hohle Ac...
603  Ein Erwachsenenrad für Einsteiger; bietet Komf...
604  Ein Erwachsenenrad für Einsteiger; bietet Komf...
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601                               アルミニウム合金カップ、大径スピンドル。
602                              アルミニウム合金カップとホロー アクスル。
603  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
604  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
0                                                 None 2003-07-01     NaT
1                                                 None 2003-07-01     NaT
2                                                 None 2003-07-01     NaT
3                                                 None 2003-07-01     NaT
4                                                 None 2003-07-01     NaT
..                                                 ...        ...     ...
601  Alüminyum alaşımı orta göbekler; geniş çaplı mil. 2013-07-01     NaT
602    Alüminyum alaşımı orta göbekler ve içi boş aks. 2013-07-01     NaT
603  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
604  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
0    Current
1    Current
2    Current
3    Current
4    Current
..       ...
601  Current
602  Current
603  Current
604  Current
605  Current

[606 rows x 36 columns]

In [4]:
#quanti dati ci sono in totale in dimproduct
print(dimproduct.shape)            #descrive il totale dei dati dentro una tabella

print('\n')
print('\n')

print(dimproduct.describe())       #restituisce una sorta di valori statistici

(606, 36)




       ProductKey  ProductSubcategoryKey  StandardCost  FinishedGoodsFlag  \
count   606.00000             397.000000    397.000000         606.000000
mean    303.50000              12.128463    436.823073           0.655116
min       1.00000               1.000000      0.860000           0.000000
25%     152.25000               2.000000     37.120000           0.000000
50%     303.50000              13.000000    204.630000           1.000000
75%     454.75000              16.000000    660.910000           1.000000
max     606.00000              37.000000   2171.290000           1.000000
std     175.08141               9.423328    497.343079           0.475723

       SafetyStockLevel  ReorderPoint    ListPrice       Weight  \
count        606.000000    606.000000   395.000000   282.000000
mean         495.201320    371.400990   747.661544    56.193227
min            4.000000      3.000000     2.290000     2.120000
25%          100.000000     75.000000    69.990000     2.680000
50%          500.000000    375.000000   364.090000    15.420000
75%         1000.000000    750.000000  1204.320000    24.130000
max         1000.000000    750.000000  3578.270000  1050.000000
std          364.007114    273.005336   838.708359   158.000652

       DaysToManufacture  DealerPrice                      StartDate  \
count         606.000000   395.000000                            606
mean            1.201320   448.597060  2009-07-26 03:12:28.514851328
min             0.000000     1.374000            2003-07-01 00:00:00
25%             0.000000    41.994000            2003-07-01 00:00:00
50%             1.000000   218.454000            2012-07-01 00:00:00
75%             1.000000   722.594900            2013-07-01 00:00:00
max             4.000000  2146.962000            2013-07-01 00:00:00
std             1.508893   503.225071                            NaN

                   EndDate
count                  200
mean   2008-08-17 14:24:00
min    2007-12-28 00:00:00
25%    2007-12-28 00:00:00
50%    2008-12-27 00:00:00
75%    2008-12-27 00:00:00
max    2008-12-27 00:00:00
std                    NaN

In [17]:
print(dimproduct['ListPrice'].describe())     #restituisce una sorta di valori statistici della colonna ListPrice

count     395.000000
mean      747.661544
std       838.708359
min         2.290000
25%        69.990000
50%       364.090000
75%      1204.320000
max      3578.270000
Name: ListPrice, dtype: float64

In [6]:
#QUALI SONO I METADATI
print(dimproduct.columns)           #mostra tutti i nomi delle colonne presenti nella tabella

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [8]:
#STAMPIAMO IL PRIMO ELEMENTO
dimproduct.iloc[0:1, 0:1]                         #iloc prende, tramite slicing o index, i valori di quello che metterò come posizioni

   ProductKey
0           1

In [23]:
#STAMPIAMO IL PRIMO ELEMENTO

display(dimproduct['ProductKey'].head(1))         #head stampa tutte le caratteristiche del prodotto tra [], tra () il numero di righe
display(dimproduct.head(1))                       #head stampa tutte le caratteristiche dell'elemento richiesto, tra () il numero di righe

0    1
Name: ProductKey, dtype: int64

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [133]:
#STAMPIAMO L'ULTIMO ELEMENTO

display(dimproduct.tail(1))         #tail riporta le ultime righe, tra () quante righe voglio restituire

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [167]:
#STAMPIAMO 5 VALORI A CASO

print(dimproduct.sample(5))                      #stampa 5 righe casuali (5) nelle colonne del database

print('\n')   #spazio

display(dimproduct['ProductKey'].sample(5))      #stampa 5 valori casuali della colonna che ho specificato tra ['']

     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
550         551          FR-M21S-40                   12.0
114         115             LJ-9080                    NaN
36           37             GT-2908                    NaN
220         221           HL-U509-B                   31.0
67           68             HN-5400                    NaN

    WeightUnitMeasureCode SizeUnitMeasureCode              EnglishProductName  \
550                    LB                  CM  LL Mountain Frame - Silver, 40
114                  None                None            Thin-Jam Lock Nut 12
36                   None                None                    HL Grip Tape
220                  None                None          Sport-100 Helmet, Blue
67                   None                None                       Hex Nut 2

             SpanishProductName       FrenchProductName  StandardCost  \
550                                                            144.59
114                                                               NaN
36                                                                NaN
220  Casco deportivo: 100, azul  Casque sport 100, bleu         13.88
67                                                                NaN

     FinishedGoodsFlag  ...           ChineseDescription  \
550                  1  ...  使用与 ML 铝制车架相同的开创性车架技术，经济实惠。
114                  0  ...                         None
36                   0  ...                         None
220                  1  ...          通用型透气良好且轻便，带有自合型帽沿。
67                   0  ...                         None

                                     ArabicDescription  \
550  إنها تأتي ضمن أفضل منتجاتنا فنيًا حيث تستخدم ن...
114                                               None
36                                                None
220  ملائمة بشكل عام، وجيدة التهوية، وخفيفة الوزن ب...
67                                                None

                                     HebrewDescription  \
550  האיכות הטובה ביותר שלנו שמנצלת טכנולוגיית מסגר...
114                                               None
36                                                None
220  מידה אונברסלית, מאווררת היטב, קלת-משקל, עם מצח...
67                                                None

                                       ThaiDescription  \
550  ความคุ้มค่าที่มาพร้อมกับเทคโนโลยีการออกแบบเฟรม...
114                                               None
36                                                None
220       แว่นกันลมขนาดสากล ระบายอากาศได้ดี น้ำหนักเบา
67                                                None

                                     GermanDescription  \
550  Unser Topmodell mit derselben bahnbrechenden R...
114                                               None
36                                                None
220  "Einheitsgröße, atmungsaktiv, leicht, aufsetzb...
67                                                None

                        JapaneseDescription  \
550  ML アルミニウム フレームと同じ画期的なフレーム技術を利用した最高の製品。
114                                    None
36                                     None
220     軽量で通気性に優れたユニバーサル フィットのスナップ オン バイザー。
67                                     None

                                    TurkishDescription  StartDate    EndDate  \
550  ML alüminyum kadroyla aynı çığır açıcı kadro t... 2013-07-01        NaT
114                                               None 2003-07-01        NaT
36                                                None 2003-07-01        NaT
220  "Her bisiklete kolayca takılabilen, aerodinami... 2012-07-01 2008-12-27
67                                                None 2003-07-01        NaT

      Status
550  Current
114  Current
36   Current
220     None
67   Current

[5 rows x 36 columns]

430    431
187    188
385    386
407    408
338    339
Name: ProductKey, dtype: int64

In [174]:
#QUALI SONO I COLORI DISPONIBILI?

print(dimproduct['Color'].unique())         #Restituisce i valori unici dentro la specifica colonna [''] P.S. NUNIQUE restituisce i valori unici numericamente, contandoli

['NA' 'Black' 'Silver' 'Red' 'White' 'Blue' 'Multi' 'Yellow' 'Grey'
 'Silver/Black']

In [133]:
# QUANTO PESANO I PRODOTTI?
display(dimproduct['Weight'])               #seleziono e visualizzo la colonna che definisce il peso

print('\n')

#IL PRODOTTO PIU PESANTE:
print(dimproduct['Weight'].max())            #visualizza il peso massimo



print('\n')

#IL PRODOTTO MENO PESANTE
print(dimproduct['Weight'].min())            #visualizza il peso minimo

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
601    168.00
602    170.00
603     19.77
604     20.13
605     20.42
Name: Weight, Length: 606, dtype: float64

EnglishProductName 1050.0


2.12

In [111]:
#QUANTI PRODOTTI PESANO PIù DI 100 kg?

prod100=(dimproduct['Weight'] > 100).sum()    #dimprod[W]>100 mi restituirà tutti i valori > con True(valore 1) e < con False(valore 0). Per sommarli basta aggiungere un sum() che sommerà i valori

print(prod100)

28

In [137]:
#METODO PER DARE IL NOME DEL PRODOTTO SUL PESO

max_weight = dimproduct['Weight'].max()  

# Filtra il prodotto associato al peso massimo
max_weight_product = dimproduct[dimproduct['Weight'] == max_weight]

# Visualizza il nome del prodotto e il peso massimo
print(max_weight_product[['EnglishProductName', 'Weight']])

# dimproduct[...] specifica che stai applicando un filtro al DataFrame dimproduct.
# Secondo utilizzo:
# dimproduct['Weight'] indica che stai accedendo alla colonna Weight del DataFrame dimproduct per definire la condizione del filtro.
# In parole semplici:
# La parte dimproduct['Weight'] == max_weight è la condizione che indica quali righe devono essere mantenute (quelle in cui il valore di Weight è uguale al massimo).

     EnglishProductName  Weight
421  LL Road Rear Wheel  1050.0

In [151]:
# QUANTO COSTANO IN MEDIA I PREZZI DI (colonna DealerPrice)?

print(dimproduct['DealerPrice'])               #visualizzo la colonna DealerPrice

print('\n')

print(round(dimproduct['DealerPrice'].mean(),1))        #visualizzo la media della colonna DP

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        ...
601     60.744
602     72.894
603    323.994
604    323.994
605    323.994
Name: DealerPrice, Length: 606, dtype: float64


448.6

In [243]:
# Se prendiamo un quarto di tutti i prodotti, in modo che siano i più costosi, quale sarà il loro range di prezzo?

prezzo = (dimproduct['ListPrice'].dropna().sort_values())             #metto la lista prezzi in ordine crescente  DROPNA TOGLIE I VALORI NULLI
print(prezzo)


calcolo_quarti = prezzo.count()                     #conto tutti i pezzi che ho nella lista senza null per dividerli in quarti
risultato = calcolo_quarti/4                        #divido la lista prezzi in 4/4  
print('\n1/4=',round(risultato))                    #mi calcolo l'ultimo quarto

media = prezzo.tail(99).mean()                                        #tail - prendo gli ultimi 90 valori perché

print('\nla media del quarto dei prezzi più costosi è:', round(media))

479       2.29
528       3.99
529       4.99
476       4.99
527       4.99
        ...
310    3578.27
311    3578.27
312    3578.27
313    3578.27
309    3578.27
Name: ListPrice, Length: 395, dtype: float64

1/4= 99

la media del quarto dei prezzi più costosi è: 1947

In [27]:
# PREZZO MEDIO PER I PRODOTTI BLU

filtro_colore = dimproduct.loc[:,'Color']== 'Blue'
# Qui stiamo cercando tutti i prodotti nella colonna 'Color' che hanno il valore 'Blue'.
# Il risultato è una lista di True (vero) e False (falso), dove True indica che il prodotto è blu e False che non lo è.

dimproduct_color = dimproduct.loc[filtro_colore]                   
# Creare una nuova tabella con solo i prodotti blu
# Usiamo la lista di True e False per selezionare solo le righe della tabella originale (dimproduct) dove il colore è blu.
# Il risultato è una nuova tabella (dimproduct_color) che contiene solo i prodotti blu

prezzo_medio = dimproduct_color['DealerPrice'].mean().round(2)  
#creo la variabile del prezzo medio, dopo essermi creata la colonna di solo prodotti blu la affianco a dealer price e calcolo la media arrotondata

print('il prezzo medio dei prodotti blu è:', prezzo_medio)

il prezzo medio dei prodotti blu è: 516.06

In [29]:
#PREZZO MEDIO PRODOTTI ROSSI E NERI

#creiamo due filtri
filtro_rosso = dimproduct.loc[:, 'Color'] == 'Red'      
filtro_nero = dimproduct.loc[:, 'Color'] == 'Black'
# Cerca tutti i prodotti nella colonna 'Color' che corrispondono (==) a 'Red' e 'Black' che 
# Il risultato è una lista di True (vero) e False (falso), dove True indica che il prodotto è rosso e False che non lo è.

filtro_colore = filtro_rosso | filtro_nero
# Combina i due filtri (rosso_nero) usando l'operatore OR (|), che significa "oppure".
# Se un prodotto è rosso OPPURE nero, il risultato sarà True.
# Se un prodotto non è né rosso né nero, il risultato sarà False.

    
prezzo_medio = dimproduct.loc[filtro_colore, 'DealerPrice'].mean().round(2)
# mi creo una tabella (.loc) contenente[filtro , DP] calcolo la media(.mean) e arrotondo a 2(round)

print('il prezzo medio dei prodotti rossi e neri sarà di:', prezzo_medio)

il prezzo medio dei prodotti rossi e neri sarà di: 550.25

In [37]:
# PREZZO MASSIMO PER PRODOTTI TAGLIA 42 E PESO OLTRE 10 Kg color argento

# STAMPIAMO COLONNE 
dimproduct.columns

#filtri
filtro_42 = dimproduct['Size'] == '42'
filtro_peso = dimproduct['Weight'] >10
filtro_col = dimproduct['Color'] == 'Silver'
# Cerca tutti i prodotti nella colonne [Size, Weight, Color] che corrispondono (==) o siano > di quel che ci serve sapere
# Il risultato è una lista di True (vero) e False (falso), dove True indica che il prodotto con la caratteristica ricercata e False il prodotto che non la ha.

filtro_row = filtro_42 & filtro_peso & filtro_col
# Combina le tre maschere booleane (filtri 42,peso, col) usando l'operatore AND (&), che significa "e".
# Un valore sarà True solo se il prodotto soddisfa tutte e tre le condizioni: taglia 42, peso > 10 kg e colore argento. (le uniche che combaciano in tutto)
# Un valore sarà False se il prodotto non soddisfa almeno una delle condizioni.

filtro_col = ['EnglishDescription', 'StandardCost']
#crea una lista (tabella) con le colonne che voglio visualizzare

display(dimproduct.loc[filtro_row, filtro_col])
# Filtra il DataFrame dimproduct usando la maschera filtro_row. 
# Ottieni una nuova tabella che contiene solo i prodotti che soddisfano tutte e tre le condizioni. (le evolve dal true false e mette in lome prodotto)
# Dalla tabella filtrata, seleziona solo le colonne 'EnglishDescription' e 'StandardCost'.

                                    EnglishDescription  StandardCost
344  Top-of-the-line competition mountain bike. Per...       1912.15
353  Serious back-country riding. Perfect for all l...       1117.86
354  Serious back-country riding. Perfect for all l...       1265.62
588  This bike delivers a high-level of performance...        419.78
591  Suitable for any type of riding, on or off-roa...        308.22

In [345]:
# Esaminiamo la differenza tra lo StandardCost e il DealerPrice degli ultimi 
# 20 elementi del dataset: 
# c'è un pattern? C'è qualche elemento che non lo segue?

dimproduct.tail(20)[['StandardCost', 'DealerPrice']]         #se voglio più colonne uso doppia parentesi []

     StandardCost  DealerPrice
586        419.78      461.694
587        419.78      461.694
588        419.78      461.694
589        419.78      461.694
590        308.22      338.994
591        308.22      338.994
592        308.22      338.994
593        308.22      338.994
594        308.22      338.994
595        294.58      323.994
596        294.58      323.994
597        294.58      323.994
598        294.58      323.994
599        294.58      323.994
600         23.97       32.394
601         44.95       60.744
602         53.94       72.894
603        343.65      323.994
604        343.65      323.994
605        343.65      323.994

0      False
1      False
2      False
3      False
4      False
       ...
601    False
602    False
603    False
604    False
605    False
Length: 606, dtype: bool

In [89]:
#RICHIAMIAMO IL DATABASE DI AMAZON
amazon= pd.read_csv('DATABASES/amazon.csv/amazon.csv')    
#richiamo il database_ pd.read_csv(pandas_read_formato) ('') che database? che percorso ha fatto?


# • Valutiamo la dimensione del dataset
# • Visualizziamo dieci righe a caso; 
# • Osserviamo quali sono i nomi di colonna; 
# • Il dataset è bilanciato, ovvero,il numero di recensioni positive è uguale a quello delle negative, 
# oppure no?

amazon           #richiamo il dataset

amazon.shape     #Valutiamo la dimensione del dataset

amazon.sample    # Visualizziamo dieci righe a caso

amazon.columns   # Osserviamo quali sono i nomi di colonna;

amazon           # Il dataset è bilanciato, ovvero,il numero di recensioni positive è uguale a quello delle negative, oppure no?

amazon['Positive'].value_counts()   #conteggio valori 1 e 0
print('le recensioni positive superano maggiormente le negative')

positive = amazon['Positive'] == 1
negative = amazon['Positive'] == 0

amazon.loc[positive,'Positive'].count()
amazon.loc[negative,'Positive'].count()

#potrei svolgerlo anche così

le recensioni positive superano maggiormente le negative

4767

In [130]:
#DATASET DIABETE

diabetes = pd.read_csv('DATABASES/diabetes.csv')
diabetes

# • Osserviamone le dimensioni e un'anteprima di cinque righe; 
# • Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
# • Stampiamo dei descrittori statistici del dataset; 
# • Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50; 
# • Qual è la media della pressione sanguigna diastolica per le diverse fasce di età? 6 
# • Qual è la media della pressione per ogni singolo anno di età?


# Osserviamone le dimensioni e un'anteprima di cinque righe; 
diabetes.shape
diabetes.head(5)


# • Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
diabetes.columns


# • Stampiamo dei descrittori statistici del dataset; 
diabetes.describe()


# • Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50; 
Filtro_minore20 = diabetes['Age (years)'] <20                                            #filtro per i dati minori di 20       (True/False)
Filtro_compreso1 = (diabetes['Age (years)']>=20) & (diabetes['Age (years)']<=30)         #filtro per i maggiori= a 20 e minori = a 30
Filtro_compreso2 = (diabetes['Age (years)']>30) & (diabetes['Age (years)']<=40)
Filtro_compreso3 = (diabetes['Age (years)']>40) & (diabetes['Age (years)']<=50)
Filtro_maggiore50 = diabetes['Age (years)'] >50

diabetes[Filtro_compreso3]                                                                  #per visualizzare il filtro (come risultato = tabella



# • Qual è la media della pressione sanguigna diastolica per le diverse fasce di età? 6 
#'Diastolic blood pressure (mm Hg)'

filtro_20 = diabetes.loc[Filtro_minore20, 'Diastolic blood pressure (mm Hg)']  
filtro_2030 = diabetes.loc[Filtro_compreso1, 'Diastolic blood pressure (mm Hg)']  
filtro_3040 = diabetes.loc[Filtro_compreso2, 'Diastolic blood pressure (mm Hg)']  
filtro_4050 = diabetes.loc[Filtro_compreso3, 'Diastolic blood pressure (mm Hg)']  
filtro_50 = diabetes.loc[Filtro_maggiore50, 'Diastolic blood pressure (mm Hg)']  
                                                                                             #mi creo un filtro che mi trasforma i valori booleani in valori nominativi e mi crea due tabelle


print('media sotto i 20 anni',filtro_20.mean())    #non vuole il round perché è NULL
print('media sotto i 30',filtro_2030.mean().round(2))
print('media sotto i 40',filtro_3040.mean().round(2))
print('media sotto i 50',filtro_4050.mean().round(2))
print('media dopo i 50',filtro_50.mean().round(2))
                                                                                              #al filtro ci calcolo la media r la stampo

# MANDARE TUTTO SEPARATAMENTE


# • Qual è la media della pressione per ogni singolo anno di età?

Filtro_eta = diabetes['Age (years)'] == 35                              #filtro che mi rilascia il true false sulle età che corrispondono a 35
filtro = diabetes.loc[Filtro_eta, ['Age (years)']]                      #filtro che li trtasforma in valori nominativi e mi crea due colonnine
print(filtro.mean().round(2))                                           #stampo il filtro con la media

media sotto i 20 anni nan
media sotto i 30 65.32
media sotto i 40 70.27
media sotto i 50 74.79
media dopo i 50 78.38
Age (years)    35.0
dtype: float64

In [10]:
# DATABASE INSURANCE

insurance = pd.read_csv('DATABASES/insurance.csv')
insurance

# • Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
# • Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
# • E rispetto a smoker? E a sex? 
# • Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

# • Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
insurance.shape         #dimensioni
insurance.columns       #colonne
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [12]:
# • Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 

nomi_unici= insurance['region'].unique                            #usato per vedere i valori unici nella colonna region 
print(nomi_unici)
# southeast, southwest, northeast, northwest


SH = insurance['region'] == 'southeast'
SW = insurance['region'] == 'southwest'                           #ho creato dei filtri che mi fanno risultare TRUE solo i nomi che cerco per ogni filtro  == che corrispondono
NH = insurance['region'] == 'northeast'
NW = insurance['region'] == 'northwest'

mediaSH = insurance.loc[ SH, 'charges'].mean().round(2)
mediaSW = insurance.loc[ SW, 'charges'].mean().round(2)
mediaNH = insurance.loc[ NH, 'charges'].mean().round(2)                    #ho creato una tabella con le medie di ogni filtro sulla colonna charges (valore nominatovo e numerico, non più TRUE/FALSE)
mediaNW = insurance.loc[ NW, 'charges'].mean().round(2)

print('\n')

print('media in southeast:',mediaSH)
print('media in southwest:',mediaSW)
print('media in northeast:',mediaNH)                              #STAMPATO
print('media in northeast:',mediaNW)

<bound method Series.unique of 0       southwest
1       southeast
2       southeast
3       northwest
4       northwest
          ...
1333    northwest
1334    northeast
1335    southeast
1336    southwest
1337    northwest
Name: region, Length: 1338, dtype: object>


media in southeast: 14735.41
media in southwest: 12346.94
media in northeast: 13406.38
media in northeast: 12417.58

In [49]:
# • E rispetto a smoker? E a sex? media di charges per smokers e sex

filtro_smoker = insurance['smoker'] == 'yes'
filtro_smok = insurance['smoker'] == 'no'      

filtro_sex = insurance['sex'] == 'female'
fil_sex = insurance['sex'] == 'male'

media1 = insurance.loc[filtro_smoker, 'charges'].mean().round(2)
media2 = insurance.loc[filtro_smok, 'charges'].mean().round(2)
media3 = insurance.loc[filtro_sex, 'charges'].mean().round(2)
media4 = insurance.loc[fil_sex, 'charges'].mean().round(2)

print('la media di charges per fumatori:', media1)
print('la media di charges per non fumatori:',media2)
print('la media di charges per donne:',media3)
print('la media di charges per uomini:',media4)

# media = insurance.loc[[filtro_smoker, filtro_smok, filtro_sex, fil_sex, 'charges']].mean().round(2)

la media di charges per fumatori: 32050.23
la media di charges per non fumatori: 8434.27
la media di charges per donne: 12569.58
la media di charges per uomini: 13956.75

In [ ]:
# • Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?

In [180]:
pokemon = pd.read_csv('DATABASES/pokemon.csv',index_col=0)    # • Se no, settare la prima colonna come indice.

# • Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
display(pokemon)
print(pokemon.shape)
print(pokemon.columns)

# • È verosimile che la prima colonna dovrebbe essere un indice? 
# si, per ogni pokemon abbiamo un indice

# • Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
# no, perché all'elemento con indice 1 corrisponde l'indice 0 di python


# • Quali sono i Pokémon leggendari? 
# • E quali sono i leggendari di tipo 1 Grass?
# • E leggendari di tipo 1 Ice o Fire? 
# • Ordiniamo il dataset per la colonna Name;
# • Trasformiamo Name nell'indice; 
# • Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

(800, 12)
Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [236]:
# • Quali sono i Pokémon leggendari? 

filtro = pokemon['Legendary'] == True
pokemon.loc[filtro]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [238]:
# E quali sono i leggendari di tipo 1 Grass?
Grass = (pokemon['Type 1'] == 'Grass') & (pokemon['Legendary'] == True)

pokemon.loc[Grass]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [240]:
# • E leggendari di tipo 1 Ice o Fire? 
ice_fire = (pokemon['Type 1'] == 'Ice') | (pokemon['Type 1'] == 'Fire')

pokemon.loc[ice_fire]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [242]:
# • Ordiniamo il dataset per la colonna Name;
pokemon.sort_values(by='Name')

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [244]:
# • Trasformiamo Name nell'indice; 
pokemon.set_index('Name')

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [248]:
# • Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
filtro = (pokemon['Generation'] == 1) & (pokemon['Attack'] > 50) & (pokemon['HP'] < 60)
pokemon[filtro]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False